<div
  class="w-full h-[70vh] md:h-[60vh] flex justify-center items-center relative image"
>
  <div class="flex gap-5 flex-col text-center w-[40%] items-center">
    <h1 class="text-4xl font-bold text-white tracking-wide">SECLINK PH</h1>
    <!-- <p class="text-gray-300">
      Was established on November 2020 by professionals who are dedicated
      entrepreneurs with extensive experience in IT industry, whose expertise
      are in the field of Infrastructure, Programming and CCTV installation and
      design, maintenance, support, upgrading of existing system.
    </p> -->
    <!-- <p class="text-gray-300">
      We committed to offer both
      <span class="font-bold">Experience and Expertise.</span> Our experience in
      understanding clients’ requirements, coupled with our technical expertise
      has enabled us to provide IT solutions to many satisfied customers.
    </p>
    <p class="text-gray-300">
      Our company has the capacity to deliver all the required services; makes
      us unique in providing you the desired results. Our clients can have the
      comfort in being serviced by a professional company that has demonstrated
      successful installations, some of which have been very complex.
    </p> -->

    <carousel
      class="flex justify-center items-center !h-[200px] !w-[300px] md:!w-[750px] md:!h-[120px] !z-[98]"
    >
      <div class="carousel-cell flex justify-center items-center">
        <p class="text-gray-300">
          Was established on November 2020 by professionals who are dedicated
          entrepreneurs with extensive experience in IT industry, whose
          expertise are in the field of Infrastructure, Programming and CCTV
          installation and design, maintenance, support, upgrading of existing
          system.
        </p>
      </div>
      <div class="carousel-cell flex justify-center items-center">
        <p class="text-gray-300">
          We committed to offer both
          <span class="font-bold">Experience and Expertise.</span> Our
          experience in understanding clients’ requirements, coupled with our
          technical expertise has enabled us to provide IT solutions to many
          satisfied customers.
        </p>
      </div>
      <div class="carousel-cell flex justify-center items-center">
        <p class="text-gray-300">
          Our company has the capacity to deliver all the required services;
          makes us unique in providing you the desired results. Our clients can
          have the comfort in being serviced by a professional company that has
          demonstrated successful installations, some of which have been very
          complex.
        </p>
      </div>
    </carousel>

    <div
      class="text-white bg-[#151749] w-[150px] py-2 rounded-md shadow-lg hover:w-[155px] cursor-pointer transition-all duration-150 ease-in-out"
      (click)="openDialog()"

    >
      Contact Us
    </div>
  </div>
</div>

<!--
<p>
  We committed to offer both <span class="font-bold">Experience and Expertise.</span> Our experience in
  understanding clients’ requirements, coupled with our technical expertise
  has enabled us to provide IT solutions to many satisfied customers.
</p>
<p>
  Our company has the capacity to deliver all the required services; makes
  us unique in providing you the desired results. Our clients can have the
  comfort in being serviced by a professional company that has demonstrated
  successful installations, some of which have been very complex.
</p> -->
