<div class="w-full flex flex-col justify-center items-center bg-white text-center gap-5 py-10">
  <div class="max-w-3xl p-5">
    <h1 class="font-bold text-3xl">OUR MISSION</h1>
    <p>
      SecLink PH’ mission is to help Customers build a reliable, secure, manageable and flexible IT Infrastructure and Manage Services that establishes a foundation for Clients to meet their business objectives.
    </p>
  </div>
  <div class="max-w-3xl p-5">
    <h1 class="font-bold text-3xl">OUR VISION</h1>
    <p>SecLink PH’ vision is to become the most technological advanced supplier of IT Manage Services</p>
  </div>
</div>
