<div class="px-2 py-5 flex flex-col w-full justify-center items-center">
  <h1 mat-dialog-title class="!font-bold">CONTACT US</h1>
  <div
    mat-dialog-content
    class="flex justify-center items-center text-center w-full"
  >
    DROP US A LINE!

    <mat-form-field class="w-full !mt-5">
      <mat-label>Name</mat-label>
      <input matInput placeholder="Name" required/>
    </mat-form-field>

    <mat-form-field class="w-full">
      <mat-label>Email</mat-label>
      <input matInput placeholder="Email" email required />
    </mat-form-field>

    <mat-form-field class="w-full">
      <mat-label>Message</mat-label>
      <textarea matInput></textarea>
    </mat-form-field>

    <div class="w-full">
      <mat-checkbox class="text-left w-full" color="primary"
        >Sign up for our email list for updates, promotions, and
        more.</mat-checkbox
      >
    </div>

    <div class="flex w-full justify-center">
      <div
      class="text-center text-white bg-[#151749] w-[150px] py-2 rounded-md shadow-lg cursor-pointer transition-all duration-150 ease-in-out my-3"
    >
      SEND
    </div>
    </div>

    <div class="text-sm">
      <p>Call or text us: +63 977 7246785</p>
      <p>Email us: sales@seclinkph.com</p>
    </div>
  </div>
</div>
